[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
jwt = "*"
passlib = "*"
bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}
requests = "*"
pylint = "*"
discord-webhook = "*"

[dev-packages]

[requires]
python_version = "3.11"
